{% extends "base2.html" %}
{% load static %}

{% block title %}Quiz{% endblock %}

{% block header %}Topic 3 - Quiz{% endblock %}

{% block body %}

<style>
    .input_box {
      width: 380px;
      height: 100px;
      padding: 15px;
      margin: 5px 0px 5px 0px;
      background: #fafafa;
      font-size: 20px;
    }

    .answer_div {
        padding-left: 46.5%;
    }

    .number_div {
        padding-right: 25px;
    }

    .question_description {
        padding-right: 15%;
        padding-left: 15%;
    }

</style>

<a style="float: right;" href="#"><button class="btn btn1">&nbsp;&nbsp;Quit&nbsp;&nbsp;</button></a>
<br><br>

<div align="center" class="text1 question_description">
    <p>sdfwoe fnwo iefo isdfw oefnwoi efoisd fwo efn woiefoi sdfw oefnwoie
        foi sdfwoef nwoiefoi sdfwoe f n woie foisd oefnwo iefoi
        foi sdfwoef nw oiefoisd fw oef nw oief oisdf woefn woi efoi
        fo isdfwoe fnw  o ief oisd fwoe fn woie fois dfwoe fn woi efoi
        foi sdfw oef nwoi efo isdf woe fn woi efoi s d fwo ef nwoi efoi
        fo isdf woef nwo iefois dfwo ef nw oiefo isdf wo efnwoi efoi
        foi sd fwoefn woi efois dfwoe fn woief oi sdfw o efn wo iefo i
        fo is dfw oefn woi efo isd fwo efnw oi efoi sdf woe f nw oi efoi</p>
    <p>sdfwoefnwoiefoi</p>
    <p>sdfwoefnwoiefoi</p>
    <p>sdfwoefnwoiefoi</p>
</div>

<hr width="50%" size="1" color='#cacccc'/>

<div align="center">
    <input type="text" class="text1 input_box" placeholder="Enter question" required>
</div>

<br>

<div class="answer_div">
    <a href="#">
        <button class="btn btn1">Answer</button>
    </a>
    <a href="#">&nbsp;<b class="text2">I don't know</b></a>
</div>

<div align="right">
    <p class="text3 number_div">1/10&nbsp;&nbsp;&nbsp;</p>
</div>

{% endblock %}